.match-card-container {
  background-color: #1e293b;
  border-radius: 5px;
  margin-top: 15px;
  padding: 20px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  font-family: 'Bree Serif';
}

.match-card-name {
  font-size: 24px;
}

.match-card-image {
  width: 120px;
  height: 120px;
}

.text {
  font-size: 24px;
}

.green {
  color: #18ed66;
}
.red {
  color: #e31a1a;
}
