.team-info {
  display: flex;
  align-items: center;
  border: 1px solid #ffffff;
  border-radius: 5px;
  background-color: #ffffff33;
  margin: 5px;
  padding: 10px;
}

.team-img {
  height: 60px;
  width: 55px;
  margin-right: 5px;
}

.team-name {
  text-align: center;
}

.link-team {
  text-decoration: none;
  color: #ffffff;
  width: 50%;
}

@media (min-width: 768px) {
  .team-info {
    margin: 10px;
    padding: 15px;
  }
  .team-img {
    height: 80px;
    width: 82px;
    margin-right: 15px;
  }
  .team-name {
    font-size: 28px;
  }
}
